html, body {
  height: 100%;
  width: 100%;
	background-color: #FCF5E5;

}
p{
	padding: 10vw;
	font-family: baskerville;
	font-size: 1.5vw;
	text-align: center;
	padding-top: 0vw;
	color: #4C2E05;
}

img{
	height: 20vw;
	padding-left: 36vw;
	padding-top: 2vw;
	display: block;
}

a{
	text-decoration: none;
	color: #4C2E05;
	display: inline;
	padding-top: 10vw;
	padding-left: 7vw;
}
h3{
	display: inline;
	padding: 4.25vw;
	font-size: 2vw;
	font-family: baskerville;
	font-weight: normal;
}

