html, body {
  height: 100%;
  width: 100%;
	background-color: #FCF5E5;

}
p{
	padding: 10vw;
	font-family: baskerville;
	font-size: 2.5vw;
	text-align: center;
	padding-top: 0vw;
	color: #4C2E05;
}

img{
	height: 35vw;
	padding-left: 15vw;
	padding-top: 2vw;
	display: block;
}


h3{
	display: inline;
	padding: 4.25vw;
	font-size: 2vw;
	font-family: baskerville;
	font-weight: normal;
}

.section1{
	margin: auto;
  width: 50%;
}
section{

  padding: 10px;
	
}
hr{
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	width: 50%;
}


.about-us-container {
  position: relative;
	margin: 5vw;;
  padding: 10px;
	width: 80%;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: black;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
	padding-bottom: 5vw;
	margin-left: 10vw;
}
.about-us-container:hover {
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

a{
	font-size: 7vw;
	font-family: baskerville;
	text-decoration: none;
	
	display: block;
	text-align: center;	
	font-weight: bold;
	color: #4c2e05;
}






@media (max-width: 900px) {
	h3{
		font-size: 4.5vw;
		margin-left: -3.5vw;
	}
	img{
		height: 50vw;
		padding-left: 7vw;
	}

}