body{
	background-color: #FCF5E5;	
	text-align: center;
	font-family: baskerville;
}	

img{
	width:100%;
}

.nav-links{
	display: inline;
	padding: 4.25vw;
	padding-top: 0;
	font-size: 2vw;
	font-family: baskerville;
	font-weight: normal;
	margin-left: -1.75vw;
}
a{
	display: inline-block;
	text-decoration: none;
	color: black;
/* 	display: inline; */
	padding-top: 0vw;
	padding-left: 9vw;
 }
h4{
	display: inline;
	padding: 4.25vw;
	padding-top: 0;
	font-size: 2vw;
	font-family: baskerville;
	font-weight: normal;
}

.section0{
	margin: auto;
  width: 50%;
}
section0{

  padding: 10px;
	
}
hr{
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	width: 50%;
}


/*
	Section Grids
*/
.section1 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);

}
.section2 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
}
.section3 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
}
.section4 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
}
.section5 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
}
.section6 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(5, 1fr);
}
.section7 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
}
.section8 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
}
.section9 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
}
.section10 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
}
.section11 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
}
.section12 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(6, 1fr);
}
.section13 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
}
.section14 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
}
.section15 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
}
/* 
	INDIVIDUAL SELECTORS
 */
h1{
	margin-bottom: -;
	font-size: 7vw;
	display: inline;
	font-weight: normal;
}
h2{
	font-size: 3vw;
	margin-bottom: -1vw;
	text-decoration: underline;
}
h3{
	font-size: 1.5vw;
	display: inline-block;
	width: 80%;
}
p{
	font-size: 1vw;
}
.product{
	padding: 1vw;
	max-width: 15vw;
	margin:0 auto;
	margin-bottom: -2vw;
}
#home{
	font-weight: bold;
	font-size: 4vw; 8                                                                         
}
#breakfast{
	display: inline-block;
	margin-top: 10vw;
}


.menu-container {
  position: relative;
	margin: 5vw;;
  padding: 10px;
	width: 80%;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: black;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
	padding-bottom: 5vw;
	margin-left: 10vw;
}
.menu-container:hover {
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

@media (max-width: 900px) {
	h3{
		font-size: 5vw;
		margin-left: -6.5vw;
		width: 150%;
	}
	
	p{
		font-size: 3vw;
		width: 200%;
		margin-left: -9vw;
	}
	 .section-info{
		 width: 70%;
		 font-size: 3vw;
		 font-weight: normal;
		 margin-left: -3vw;
	 }
	h2{
		font-size: 7vw;
	}
	h5{
		
		margin-top: -10vw;
		margin-left: 0;
 		font-size: 3vw;
		font-weight: normal;
	}
	#breakfast, #lunch{
		font-size: 17vw;
		text-decoration: underline;
	}
	#served-from{
		margin-top: 0;
	}
}