body{
	background-color: #FCF5E5;	
	text-align: center;
	font-family: baskerville;
}	

img{
	width:100%;
}


a{
	display: inline-block;
	text-decoration: none;
	color: black;
	padding-top: 0vw;
	padding-left: 9vw;
 }
h4{
	display: inline;
	padding: 4.25vw;
	padding-top: 0;
	font-size: 2vw;
	font-family: baskerville;
	font-weight: normal;
}


section0{

  padding: 10px;
	
}
hr{
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	width: 50%;
	margin-left: 15vw;
}


/*
	Section Grids
*/
.section1 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);

}
.section2 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
}
.section3 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
}
.section4 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
}
.section5 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
}
.section6 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(5, 1fr);
}
.section7 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
}
.section8 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
}
.section9 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
}
.section10 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
}
.section11 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
}
.section12 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(6, 1fr);
}
.section13 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
}
.section14 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
}
.section15 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
}
/* 
	INDIVIDUAL SELECTORS
 */
h1{
	margin: 0;
	margin-top: 5vw;
	font-size: 7vw;
	display: inline;
	font-weight: normal;
}
h2{
	font-size: 4vw;
	margin-bottom: -1vw;
	text-decoration: underline;
}
h3{
	font-size: 3vw;
	display: inline-block;
	width: 100%;
}
p{
	font-size: 1vw;
}
.product{
	padding: 1vw;
	max-width: 15vw;
	margin:0 auto;
	margin-bottom: -2vw;
}

#breakfast{
	display: inline-block;
	margin-top: 10vw;
	font-size: 9vw;
}
#lunch{
	font-size: 9vw;
}

.menu-container {
  position: relative;
	margin: 5vw;;
  padding: 10px;
	width: 80%;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: black;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
	padding-bottom: 5vw;
	margin-left: 10vw;
}
.menu-container:hover {
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

h4{
	display: inline;
	padding: 4.25vw;
	padding-top: 0;
	font-size: 6vw;
	font-family: baskerville;
	font-weight: normal;
	margin-left: -4.5vw;
	
}
h6{
	display: inline;
		font-size: 4vw;
		width: 10vw;
		margin-left: -4vw;
	}
p{
	width: 150%;
	font-size: 2vw;
	margin-left: -3vw;
}
.section-info{
	font-weight: normal;
	font-size: 2vw;
	width: 60vw;
}
.served-from,h5{
	font-size: 2vw;
	font-weight: normal;
}
li, a{
	font-size: 2.5vw;
}
/* 
MOBILE RESPONSIVENESS
 */
@media (max-width: 900px) {
	h3{
		font-size: 5vw;
		margin-left: -6.5vw;
		width: 150%;
	}
	
	p{
		font-size: 3vw;
		width: 200%;
		margin-left: -9vw;
	}
	 .section-info{
		 width: 70%;
		 font-size: 3vw;
		 font-weight: normal;
		 margin-left: -3vw;
	 }
	h2{
		font-size: 7vw;
	}
	h5{
		margin-top: 0%;
		margin-left: 0;
 		font-size: 3vw;
		font-weight: normal;
		margin-bottom: -2vw;
	}
	#breakfast, #lunch{
		font-size: 17vw;
/* 		text-decoration: underline; */
	}
	.served-from{
		margin-top: 0;
	}
	h6{
	display: inline;
		font-size: 4vw;
		width: 10vw;
		margin-left: -4vw;
	}
	h4 {
		 width: 100%;
		font-size: 7vw;
		margin-left: -7vw;
	}
	.section0{
		margin-left: 25vw;
	}
	a{
		width: 100%;
	}
	section0{
		width: 100%;
	}
}



* {
	box-sizing: border-box;
}
body {
	
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}




a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 5vw;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	font-size: .99em;
}




.li,a{
	font-size: 4vw;
}
.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: white;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}






@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}
	
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
	
}
@media (max-width: 900px){
	.logo, a{
		font-size: 8vw;
	}
}