body {
  margin: 0 auto;
  padding: 1em 0;
	background-color: #FCF5E5;
}
/*
	GRID STYLING
*/
body {
	width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30vw 30vw 30vw 10vw;
	margin-top: -1.25vw;
}
footer {
  grid-column: 1 / span 2;
}
.section1, .section3, .section5 {
  grid-column: 1 / span 1;
}
.section2, .section4, .section6{
	grid-column: 2/ span 1;
}
/*
	CELL STYLING
*/

footer {
  height: 10vw;;
}
 section, footer {
  align-items: center;
  justify-content: center;
}

.section1{
	background-image: url('cilantro.png');
	background-size: 40vw;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 9.5vw;
}
.section2{
	background-image: url('cafe-ext.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.section3{
	background-color: #4C2E05;
	background-image: url('burger.jpg');
	background-size: 18vw;
	background-repeat: no-repeat;
	background-position: center;
}
.section4, .section5{
	padding-top: 8vw;
}
/*
.section6{ 
	background-image: url('map.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
*/

/*
	SECTION1 ELEMENTS
*/
.title{
	font-size: 3.75vw;
	display: block;
	text-align: center;
	font-family: impact;
	color: #ff9e47;
}
.quote{
	font-size: 1.25vw;
	display: block;
	text-align: center;

	font-family: baskerville;
	font-weight: normal;
	color: #4C2E05;
}


/*
	SECTION4 ELEMENTS 
*/
.about-us{
	font-size: 4vw;
	display: block;
	text-align: left;
	font-family: didot;
	color: #ff9e47;
	padding-left: 16vw;
	font-weight: normal;
	margin-bottom: 0vw;
	margin-top: -1vw;
}
.description{
	font-size: 1.5vw;
	display: block;
	text-align: left;
	font-family: baskerville;
	font-weight: normal;
	color: #4c2e05;
	padding-left: 16vw;
}
.read-more{
	margin-left: 16vw;
	margin-top: 2vw;
}
/*
	SECTION 6 ELEMENTS
*/
.map{
	height: auto; 
	width: 100%;
}
/*
	RESPONSIVENESS
*/
@media (max-width: 900px) {
	.section1, .section2, .section3, .section4, .section5, .section6 {
    grid-column: 1 / span 2;
  }
	body {
  grid-template-rows: 60vw 60vw 60vw 60vw 60vw 60vw  10vw;
	}
	.title{
		margin-top: 4vw;
		font-size: 12vw;
		margin-bottom: 4vw;
	}
	.quote{
		font-size: 2vw;
	}
	.section1{
		padding-top: 17vw;
	}
	.section3{
		background-size: 40vw;
	}
	.about-us{
		padding-left: 29vw;
		font-size: 9vw;
		margin-top: 15vw;
	}
	.description{
		padding-left: 29vw;
		font-size: 3vw;
	}
	.gallery1, .gallery2, .gallery3, .gallery4, .gallery5 {
  	display: none;
	}
	.see-menu{
		margin-top: -1vw;
		font-size: 2.5vw;
		width: 17vw;
		height: 8.5vw;
	}
	.section1{
	background-size: 70vw;
	}
	.quote{
		padding-top: 0vw;
		font-size: 3vw;
	}
	.read-more{
		width: 17vw;
		height: 8.5vw;
		margin-left: 29vw;
		font-size: 2.5vw;
		margin-bottom: 10vw;
	}
	#contact-us{
		margin-top: -5vw;
	}
	#open{
		margin-left: -42.5vw;
		font-size: 8vw;
	}
	#hours{
		font-size: 3vw;
		margin-left: -42.5vw;
	}
	.fa-facebook{
	padding-left: 0vw;
	font-size: 7vw;
	}
	.fa-square-instagram{
	padding-left: 0vw;
	font-size: 7vw;
	}	
	.fa-yelp{
	padding-left: 0vw;
	font-size: 7vw;
	}
	.footer-text{
		margin-left: 15vw;
	}
	#open{
		font-size:12vw;
	}
	.hours{
		font-size: 3vw;
	}
}



/*
	MISC
*/
button{
	width: 7.5vw;
	height: 3vw;
	font-size: .75vw;
	display: block;
	margin: 0 auto;
	background: none;
	border: solid .05vw #889F25;
	color: #889F25;
	white-space: nowrap;
  overflow: hidden;
	cursor: pointer;
	border-width: 1px;
	color: #4c2e05;
}
i{
	font-size: 2vw;
	padding: 4.75vw;
}
.fa-facebook{
	padding-left: 0vw;
}
.footer-text{
	display: inline;
	padding-left: 8vw;
	
}
a{
	text-decoration: none;
	color: #4c2e05;
}
/*
	GALLERY 
*/

footer {
	width: 100%;
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-template-rows: 25vw 25vw 2vw;
	grid-gap: 3vw;
	padding: auto;
	padding-top: 3vw;
}

.gallery1{
	background-image: url('tacos.jpg');
}
.gallery2{
	background-image: url('taco-salad.jpg');
}
.gallery3{
	background-image: url('tacos-2.jpg');
}
.gallery4{
	background-image: url('ceasar.jpg');
}
.gallery5{
	background-image: url('burrito.jpg');
}

.gallery1, .galley4 {
  grid-column: 1 / span 1;
}
.gallery2, .gallery5{
	grid-column: 2 / span 1;
}
.gallery3, .gallery6{
	grid-column: 3 / span 1;
}
.foot{
	grid-column: 1 / span 3;
	
}
.gallery1, .gallery2, .gallery3, .gallery4, .gallery5, .gallery6 {
	height: 100%;
	background-size: cover;
	background-size: 25vw;
	background-repeat: no-repeat;
	background-position: center;

}
/*
	GALLERY 6 ELEMENTS
*/
.open{
	font-size: 5vw;
	display: block;
	text-align: left;
	font-family: didot;
	color: #ff9e47;
	padding-left: 6vw;
	font-weight: normal;
	margin-bottom: 0vw;
	padding-top: 1vw;
}
.hours {
	font-size: 2vw;
	display: block;
	text-align: left;
	font-family: baskerville;
	font-weight: normal;
	color: #4c2e05;
	padding-left: 6vw;
	
}

